<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.grzwolf.grznote">

    <application android:label="GrzNote">
        <activity android:name=".MainActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme"
 		          android:screenOrientation="sensor"
        		  android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />                
                <data android:mimeType="text/*" android:scheme="file"/>
            </intent-filter>
        </activity>
    </application>
    
    <supports-screens
		android:smallScreens="true"
  		android:normalScreens="true"
  		android:largeScreens="true"
  		android:anyDensity="true" />

</manifest>